h3 {
  margin: 10px 0;
}

p {
  font-size: 14px;
  line-height: 21px;
}

.card-container {
  background-color: #231E39;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  color: #B3B8CD;
  padding: 30px 0 0;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
  margin: 20px 0;
  overflow: hidden;
}

.card-container img {
  border-radius: 50%;
  padding: 7px;
  height: 150px;
  width: 150px;
}

button.primary {
  background-color: #C400D7;
  border: 1px solid #C400D7;
  border-radius: 3px;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}

.btn.primary.ghost {
  background-color: transparent;
  color: #C400D7;
  border-radius: 20px;
  font-family: Garamond;
}

.fa {
  margin-right: 0.3rem;
}