  body{
    font-family: Garamond;
  }
  p{
    margin-top: 10px;
  }
  .mb-1,.mb-0{
    font-weight: bold;
    font-size: 0.9em
  }
  .btn{
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476 100%);
    color: white;
    width: 105px;
    border-radius: 20px;
  }
  .login-logo a{
    margin-left: 120px;
    font-weight: bolder;
    color: #fff;
  }
  .login-card-body{
    width: 500px;
  }
  .input-group-text, .form-control{
    border:2px solid #ced4da;
  }
  .active_tab1{
    background-color:#fff;
    color:#333;
    font-weight: 600;
  }
  .inactive_tab1{
    background-color: #f5f5f5;
    color: #333;
    cursor: not-allowed;
  }
  .has-error{
    border-color:#cc0000;
  }